---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';

const grades = [
	{ id: 0, name: '0. årgang', icon: 'ph:student-fill' },
	{ id: 1, name: '1. årgang', icon: 'ph:pencil-circle-fill' },
	{ id: 2, name: '2. årgang', icon: 'ph:books-fill' },
	{ id: 3, name: '3. årgang', icon: 'ph:notebook-fill' },
	{ id: 4, name: '4. årgang', icon: 'ph:calculator-fill' },
	{ id: 5, name: '5. årgang', icon: 'ph:graph-fill' },
	{ id: 6, name: '6. årgang', icon: 'ph:atom-fill' },
	{ id: 7, name: '7. årgang', icon: 'ph:infinity-fill' },
	{ id: 8, name: '8. årgang', icon: 'ph:graduation-cap-fill' },
	{ id: 9, name: '9. årgang', icon: 'ph:student-fill' }
];
---

<Layout title="Digitale Læremidler - Oversigt">
	<div class="w-full mb-12 rounded-xl overflow-hidden shadow-lg">
		<img 
			src="/str_luftfoto.jpg" 
			alt="Luftfoto af skolen"
			class="w-full h-[200px] sm:h-[300px] md:h-[400px] object-cover object-center"
			fetchpriority="high"
			loading="eager"
		/>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
		{
			grades.map((grade) => (
				<a
					href={`/grade/${grade.id}`}
					class="block p-6 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow duration-200 group"
				>
					<div class="flex items-center space-x-4">
						<Icon 
							name={grade.icon} 
							class="w-8 h-8 text-blue-500 group-hover:text-blue-600 transition-colors duration-200" 
						/>
						<div>
							<h2 class="text-xl font-semibold text-gray-900">{grade.name}</h2>
							<p class="mt-2 text-gray-600">Se alle tilgængelige digitale læremidler</p>
						</div>
					</div>
				</a>
			))
		}
	</div>
	<div class="mt-12">
		<h2 class="text-xl font-semibold text-gray-900 mb-6">Andre Platforme</h2>
		<a
			href="/other"
			class="block p-6 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow duration-200 group"
		>
			<div class="flex items-center space-x-4">
				<Icon 
					name="ph:squares-four-fill" 
					class="w-8 h-8 text-purple-500 group-hover:text-purple-600 transition-colors duration-200" 
				/>
				<div>
					<h3 class="text-lg font-semibold text-gray-900">Andre relevante platforme og læremidler</h3>
					<p class="mt-2 text-gray-600">Se øvrige digitale ressourcer</p>
				</div>
			</div>
		</a>
	</div>
</Layout>
